<section class="task-switch">
    <div class="container">
        <div class="row header">
            <div class="col-md-12 text-center">
                Zadania
            </div>
        </div>
        <div class="row options">
            <a href="#/mixed-tasks">
                <div class="col-md-6 text-center">
                    <div>1-5</div>
                </div>
            </a>
            <a href="#/shop">
                <div class="col-md-6 text-center">
                    <div>6</div>
                </div>
            </a>
        </div>
    </div>
</section>
