<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12 form-group">
                Panel administracyjny
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-left">
                <a href="#/product/add"><button class="btn btn-default">Produkty</button></a>
            </div>
            <div class="col-md-6 text-right">
                <a href="#/order/list"><button class="btn btn-default">Zamówienia</button></a>
            </div>
        </div>
    </div>
</section>
