body {
    width 100%;
    min-height: 700px;
    background: rgb(236, 229, 221);
}

header {
    padding: 12.5px 0;
    background: rgb(53, 68, 88);
    color: #FFF;
    height: 75px;
    margin-bottom: 2em;
}

main {

}

nav {

}

section.gallery .items .row:not(:last-of-type) {
    margin-bottom: 1.5em;
}

section.gallery .items .item {
    box-sizing: border-box;
    margin-bottom: 1.5em;
}

section.gallery .items .item .thumbnail img {
    width: 100%;
}

section.gallery .items .item .thumbnail {
    margin-bottom: 1em;
}

section.gallery .items .item .title {
    font-size: 1em;
}

section.gallery .items .item .caption {
    font-size: .75em;
}

/*
header div.logo {
    background-image: url('../img/bootstrap.png');
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

main aside.navigation, main section.content {
    box-sizing: border-box;
}

main aside.navigation {
    padding: 15px;
    width: calc(30% - 10px);
    float: right;
    background: rgb(84, 139, 194);
    margin-left: 10px;
}

main section.content {
    padding: 15px;
    width: calc(70% - 10px);
    float: left;
    background: rgb(234, 113, 95);
    margin-right: 10px;
}

a:link {
    color: black;
}

img.responsive {
    width: 100%;
    height: auto;
}

.pull-auto {
    margin: 0 auto;
}

.half-width {
    width: 50%;
}

@media (max-width: 800px) {
    main aside.navigation {
        width: 100%;
        margin-left: 0;
        float: left;
        margin-bottom: 20px;
    }

    main aside.navigation nav h1 {
        display: none;
    }

    main aside.navigation nav ul {
        padding-left: 10px;
        margin-bottom: 0;
        list-style-type: none;
    }

    main aside.navigation nav ul li {
        margin-left: 10px;
        display: inline-block;
    }

    main aside.navigation nav ul li:after {
        margin-left: 20px;
        content: '|';
    }

    main aside.navigation nav ul {
        margin-bottom: 0;
    }

    main section.content {
        width: 100%;
        margin-right: 0;
        clear: both;
    }
}*/
